<template>
  <ion-page>
        <a-header />
        <ion-content>
            <div class="tasks" v-if="projects.length">
                <ion-item button detail="false" v-for="project in projects" :key="project.id">
                    <ion-label>
                        <h3><b>{{project.name}}</b></h3>
                    </ion-label>
                    <ion-icon class="options-icon" :icon="ellipsisVerticalOutline" slot="end" @click="presentActionSheet($event, project.id)"></ion-icon>
                </ion-item>
            </div>
            <div v-else class="ion-text-center">
                <h2>You have no projects</h2>
            </div>
        </ion-content>
    </ion-page>
</template>

<script>
import axios from 'axios'
import {  ellipsisVerticalOutline } from 'ionicons/icons'
import { actionSheetController, modalController } from '@ionic/vue';


import {alertError} from '@/plugins/wzo/errorAlert'
import AHeader from '@/plugins/app/_components/a-header.vue'
import AProjectModal from '@/plugins/app/home/a-project-modal.vue'


export default {
    data(){
        return{
            projects: []
        }
    },
    setup(){
        return {
            AHeader,
            ellipsisVerticalOutline
        }
    },
    mounted(){
        this._loadProjects()
    },
    methods:{
        async _loadProjects(){
            try {
                const {config: {fakeData: data}} = await axios.get('/projects')
                this.projects = data
            } catch (error) {
                alertError(error)
            }
        },
        async presentActionSheet(event, projectId) {
            //Prevent ion-item click event from fireing
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();

            const actionSheet = await actionSheetController
                .create({
                header: 'Options',
                buttons: [
                    {
                        text: 'Edit project',
                        handler: () => {
                            this.openProjectModal('Edit', projectId)
                        },
                    },
                    // {
                    //     text: 'Delete project',
                    //     handler: () => {
                    //         console.log('Delete clicked')
                    //     },
                    // },
                    {
                        text: 'Cancel',
                        role: 'destructive',
                    },
                ],
                });
            return actionSheet.present();
        },
        async openProjectModal(action, projectId){
            const modal = await modalController
                .create({
                    component: AProjectModal,
                    componentProps: {
                        action: action,
                        id: projectId
                    },
                })
            await modal.present()
            await modal.onDidDismiss()
            this._loadProjects()
        },
    }
}
</script>

<style>

</style>