<template>
  <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <svg viewBox="0 0 115.01 73.231" enable-background="new 0 0 115.01 73.231" class="teamgrid-logo"><g><polygon fill="rgba(255, 255, 255, .87)" points="53.822,59.575 40.337,73.231 40.337,0 53.822,13.656" style="transition-duration: 180ms;"></polygon><polygon fill="rgba(255, 255, 255, .87)" points="32.971,57.527 19.485,69.134 19.485,4.097 32.971,15.705" style="transition-duration: 360ms;"></polygon><polygon fill="rgba(255, 255, 255, .87)" points="12.12,52.064 0,61.623 0,13.656 12.12,21.167" style="transition-duration: 540ms;"></polygon><polygon fill="rgba(255, 255, 255, .87)" points="61.188,59.575 74.673,73.231 74.673,0 61.188,13.656" style="transition-duration: 180ms;"></polygon><polygon fill="rgba(255, 255, 255, .87)" points="82.039,57.527 95.524,69.134 95.524,4.097 82.039,15.705" style="transition-duration: 360ms;"></polygon><polygon fill="rgba(255, 255, 255, .87)" points="102.89,52.064 115.01,61.623 115.01,13.656 102.89,21.167" style="transition-duration: 540ms;"></polygon></g></svg> 
        </ion-title>
    </ion-toolbar>
    </ion-header>
</template>

<style>
.teamgrid-logo{
    width: 50px;
}
</style>