<template>
    <div class="inputs">
        <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
            <ion-label class="label ion-margin-bottom" position="stacked" color="medium">Email address</ion-label>
            <ion-input class="inputs" type="email" bacround="medium" v-model="user.email"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
            <ion-label class="label ion-margin-bottom" position="stacked" color="medium" >Password</ion-label>
            <ion-input  class="inputs" type="password" bacround="medium" v-model="user.password"></ion-input>
        </ion-item>
        <ion-button :disabled="true" class="ion-margin-top" color="primary" expand="block" @click="login()">Login</ion-button>
    </div>
</template>

<script lang='ts'>

import {alertError} from '@/plugins/wzo/errorAlert'
import {presentToast} from '@/plugins/wzo/toast'


export default {
    data(){
        return{
            user:{
                email: '',
                password: ''
            }
        }
    },
    methods:{
        async login(){
            try {
                // await this.$store.dispatch('auth/login', this.user);
                this.$router.push({name: 'Home'})
                presentToast("Login successful, welcome back.")
            } catch (error) {
                alertError(error)
            }
        },
        
    }
}
</script>


<style scoped>
ion-item{
    margin-top: 15%;
    margin-bottom: 10%;
}
ion-input{
    border: .5px solid rgb(61, 194, 255);
}
.label{
    font-size: 16px;
    margin-bottom: 5%;
}
ion-button{
    margin-top: 15%;
}
</style>