<template>
<ion-page>
    <ion-content>
        <div class="ion-padding ion-text-center">
            <h3 class="title ion-padding">Welcome back to TeamGrid</h3>
            <ion-text class="ion-text-start" color="medium">
                <h5 class="ion-margin-top">With TeamGrid's work management platform, your team can stay focused on their goals, projects and tasks – no matter when or where they work.</h5>
            </ion-text>
            <a-login></a-login>
            <ion-button class="ion-margin-top" color="primary" expand="block" fill="outline" @click="$router.push({name: 'Demo'})">Demo Account</ion-button>
        </div>
    </ion-content>
</ion-page>
</template>

<script>

import ALogin from '@/plugins/app/welcome/a-login.vue'
import {demoAccountAlert} from '@/plugins/app/welcome/utils/demoAccountAlert'

export default {
    components:{
        ALogin
    },
    mounted(){
        if(localStorage.getItem('demoUser')) demoAccountAlert()
    }
};
</script>

<style scoped>

.title{
    font-weight: bold;
    margin-bottom: 2em;
}


</style>