<template>
    <a-menu />
    <ion-router-outlet id='main'></ion-router-outlet>
</template>
<script>

import {IonRouterOutlet} from '@ionic/vue'

import AMenu from '@/plugins/app/_layouts/a-menu.vue'


export default {
    components: {
        IonRouterOutlet,
        AMenu
    }
}
</script>
<style scoped>

</style>
