<template>
    <ion-menu side="start" type="push" content-id="main">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item @click="navTo('Home')">
                        <ion-icon :icon="homeOutline"></ion-icon>
                        <ion-label class="ion-margin-start">Home</ion-label>
                    </ion-item>
                    <ion-item @click="navTo('Projects')">
                        <ion-icon :icon="fileTrayFullOutline"></ion-icon>
                        <ion-label class="ion-margin-start">Projects</ion-label>
                    </ion-item>
                    <ion-item @click="navTo('Welcome')">
                        <ion-icon :icon="exitOutline"></ion-icon>
                        <ion-label class="ion-margin-start">Logout</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-item class="ion-margin-bottom" lines="none" style="opacity: 0.3;">
                    <ion-toggle color="success" checked>
                    </ion-toggle>
                    <ion-label class="ion-margin-start" >Show completed tasks</ion-label>
                </ion-item>
            </ion-footer>
    </ion-menu>
</template>
<script>
import { homeOutline, exitOutline, fileTrayFullOutline } from 'ionicons/icons'
import { menuController } from '@ionic/vue';

export default {
    setup() {
        return {
            homeOutline,
            exitOutline,
            fileTrayFullOutline
        }
    },
    methods:{
        navTo(name){
            if(this.$route.name != name){
                this.$router.push({name: name})
            }
            menuController.close()
        }
    }
}
</script>