<template>
    <ion-page>
        <ion-content>
            <ion-router-outlet></ion-router-outlet>
        </ion-content>
    </ion-page>
</template>
<script>
    import {
        IonRouterOutlet
    } from '@ionic/vue'


    export default {
        components: {
            IonRouterOutlet
        }
    }
</script>