<template>
    <ion-page>
        <ion-content>
            <div class="ion-padding ion-text-center">
                <h3 class="title ion-padding">Demo account</h3>
                <ion-text class="ion-text-start" color="medium">
                    <h5 class="ion-margin-top">Remember that if you uninstall this app your demo account will be deleted.</h5>
                </ion-text>
                <ion-item class="ion-no-padding ion-margin-bottom inputs" lines="none">
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input type="email" v-model="user.name"></ion-input>
                </ion-item>
                <ion-button class="ion-margin-top" color="primary" expand="block" @click="demoLogin()">Create demo account</ion-button>
            </div>
        </ion-content>
    </ion-page>
</template>

<script lang='ts'>

import {alertError} from '@/plugins/wzo/errorAlert'

export default {
    data(){
        return{
            user:{name: ''}
        }
    },
    methods:{
        async demoLogin(){
            try {
                await this.$store.dispatch('createUser', this.user)
                this.$router.push({name: 'Home'})
            } catch (error) {
                alertError(error)
            }
        }
    }
}
</script>
<style scoped>

.inputs{
    margin-top: 20%;
}
.title{
    font-weight: bold;
    margin-bottom: 2em;
}

</style>