<template>
<div>
        <ion-header>
        <ion-toolbar>
            <ion-title color="medium">{{ action }} project</ion-title>
            <ion-icon :icon="closeCircleOutline" slot="end" class="close-icon" @click="closeModal"></ion-icon>
        </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding ion-text-center">
        <div class="inputs">
            <ion-item class="items ion-no-padding ion-margin-bottom" lines="none">
                <ion-label class="label" color="medium" position="stacked">Project name</ion-label>
                <ion-input type="text" v-model="project.name"></ion-input>
            </ion-item>
            <ion-button v-if="$props.action == 'Create'" :disabled="!project.name.length" class="ion-margin-top" color="primary" expand="block" @click="createProject">Create project</ion-button>
            <ion-button v-else class="ion-margin-top" color="primary" expand="block" @click="editProject">Edit project</ion-button>
        </div>
    </ion-content>
</div>

</template>

<script>

import axios from 'axios'

import { modalController } from '@ionic/vue';
import { closeCircleOutline } from 'ionicons/icons'


export default {
    props:{
        action: {type: String, default: 'Create'},
        id: {type: String, default: null}
    },
    setup(){
        return {closeCircleOutline}
    },
    async created(){
        if(this.$props.action === 'Edit'){
            const {config: {fakeData: data}} = await axios.get(`/projects/${this.id}`)
            this.project = data
        }
    },
    data(){
        return{
            project:{
                name: '',
            }
        }
    },
    methods:{
        closeModal(){
            modalController.dismiss()
        },
        async createProject(){
            try {
                await axios.post('/projects', this.project)
                this.closeModal()
            } catch (error) {
                console.error(error);
            }
        },
        async editProject(){
            await axios.put(`/projects/${this.id}`, this.project)
            this.closeModal()
        }
    }
}
</script>

<style scoped>
.close-icon{
    font-size: 25px;
}
.items{
    margin-top: 40%;
}
.label{
    
    font-size: 17px;
    margin-bottom: 5%;
}
.inputs{
    margin-top: 20%;
    font-size: 14px;
}
ion-input{
    border: .5px solid rgb(61, 194, 255);
    color:  #92949c;
}
.buttons{
    margin-top: 30%;
}
</style>