<template>
    <ion-header>
        <ion-toolbar>
            <ion-title color="medium">{{ action }} task</ion-title>
            <ion-icon :icon="closeCircleOutline" slot="end" class="close-icon" @click="closeModal"></ion-icon>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding ion-text-center">
        <div class="inputs">
            <ion-item class="ion-no-padding ion-margin-bottom" lines="none">
                <ion-label class="label" color="medium" position="stacked">Task name</ion-label>
                <ion-input type="text" v-model="task.name"></ion-input>
            </ion-item>
            <ion-item class="items ion-no-padding ion-margin-bottom">
                <ion-label color="medium">Project</ion-label>
                <ion-select interface="popover" v-model="task.projectId">
                    <ion-select-option v-for="project in projects" :key="project.id" :value="project.id">{{project.name}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="checkbox" v-if="$props.action == 'Edit'">
                <ion-label color="medium">Completed task</ion-label>
                <ion-checkbox
                    slot="start"
                    @update:modelValue="task.isCompleted = $event"
                    :modelValue="task.isCompleted">
                </ion-checkbox>
            </ion-item>

            <ion-button v-if="$props.action == 'Create'" class="buttons ion-margin-top" color="secondary" expand="block" @click="createTask">Create task</ion-button>
            <ion-button v-else class="buttons ion-margin-top" color="medium" expand="block" @click="editTask">Edit task</ion-button>
        </div>
    </ion-content>
</template>

<script>
import axios from 'axios'

import { modalController } from '@ionic/vue';
import { closeCircleOutline } from 'ionicons/icons'


export default {
    props:{
        action: {type: String, default: 'Create'},
        taskId: {type: String, default: null},
    },
    setup(){
        return {closeCircleOutline}
    },
    async created(){
        this._loadProjects() 
        if(this.$props.action === 'Edit'){
            const {config: {fakeData: data}} = await axios.get(`/tasks/${this.taskId}`)
            this.task = data
        }
    },
    data(){
        return{
            projects: [],
            task:{
                name: '',
                projectId: '',
                totalTime: '00:00:00',
                isCompleted: false
            }
        }
    },
    methods:{
        closeModal(){
            modalController.dismiss()
        },
        async editTask(){
            await axios.put(`/tasks/${this.taskId}`, this.task)
            this.closeModal()
        },
        async createTask(){
            await axios.post('/tasks', this.task)
            this.closeModal()
        },
        async _loadProjects(){
            try{
                const {config: {fakeData: data}} = await axios.get('/projects')
                this.projects = data
            }catch(error){
                console.error(error)
            }
        }
    }
}
</script>

<style scoped>
.close-icon{
    font-size: 25px;
}
.label{
    
    font-size: 17px;
    margin-bottom: 5%;
}
.inputs{
    margin-top: 20%;
    font-size: 14px;
}
ion-input{
    border: .5px solid rgb(61, 194, 255);
    color:  #92949c;
}
.items{
    margin-top: 15%;
}
.checkbox{
    margin-top: 20%;
}
.buttons{
    margin-top: 20%;
}
</style>