<template>
    <ion-page>
        <a-header /> 
        <ion-content>
                <!-- <ion-button @click="$router.push({name: 'Welcome'})">Back</ion-button> -->
                <ion-fab class="add-button" vertical="bottom" horizontal="center" slot="fixed">
                    <!-- <ion-fab-button @click="openTaskModal('Create')"> -->
                    <ion-fab-button color="secondary">
                        <ion-icon :icon="add" ></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top">
                        <ion-fab-button color="secondary" class="fab-option-button" @click="openProjectModal('Create')">Project</ion-fab-button>
                        <ion-fab-button color="secondary" class="fab-option-button" @click="openTaskModal('Create')">Task</ion-fab-button>
                    </ion-fab-list>
                </ion-fab>
                <div class="tasks" v-if="tasks.length">
                    <ion-item button detail="false" v-for="task in nonTrackingTasks" :key="task.id" @click="startTracking({task: task})" :ref="setItemRef">
                        <ion-icon v-if="task.isCompleted" slot="start" :icon="checkmarkCircle" class="completed-icon completed-task"></ion-icon>
                        <ion-label :class="task.isCompleted ? 'completed-task': ''">
                            <h3><b>{{task.name}}</b></h3>
                            <h3>{{projectName(task.projectId)}}</h3>
                            <h3>{{task.info.totalTime}}</h3>
                        </ion-label>
                        <ion-icon class="options-icon" :icon="ellipsisVerticalOutline" slot="end" @click="presentActionSheet($event, task.id)"></ion-icon>
                    </ion-item>
                </div>
                <div v-else class="ion-text-center">
                    <h2>You have no tasks</h2>
                </div>
        </ion-content>
        <ion-footer>
            <ion-toolbar class="active-task-wrapper" color="primary" @click="stopTracking">
                <ion-label class="tracking-info ion-padding" v-if="currentTask.active" slot="start">
                    <b>{{currentTask.name}}</b>
                </ion-label>
                <ion-label class="tracking-info  ion-padding" v-if="currentTask.active" slot="end">
                    {{currentTask.calculatedTime ?  currentTask.time : 'loading...'}}
                </ion-label>
            </ion-toolbar>
        </ion-footer>
    </ion-page>
</template>

<script>

import moment from 'moment'
import axios from 'axios'
import { ellipsisVerticalOutline, add, checkmarkCircle } from 'ionicons/icons'
import { actionSheetController, modalController } from '@ionic/vue';

import ATaskModal from '@/plugins/app/home/a-task-modal.vue'
import AProjectModal from '@/plugins/app/home/a-project-modal.vue'
import AHeader from '@/plugins/app/_components/a-header.vue'


export default {
    data(){
        return{
            user: {},
            tasks: [],
            projects: [],
            trackingInterval: {},
            currentTask: {
                taskId: '',
                time: '00:00:00',
                startTime: '',
                name: '',
                active: false,
                calculatedTime: false
            },
            itemRefs: []
        }
    },
    setup() {
        return {
            ellipsisVerticalOutline, 
            add,
            checkmarkCircle,
            AHeader
        }
    },
    created() {
        this.loadTasks()
        this.loadProjects()
        const currentTrackingTask = JSON.parse(localStorage.getItem('fake-currentTrackingTask'))
        if(currentTrackingTask){
            this.startTracking(currentTrackingTask[0], true)
        }
    },
    methods:{
        
        async startTracking(trackingTask, trackingOnBe = false){
            if(this.currentTask.active || trackingTask.task.isCompleted) return

            this.currentTask = {
                name: trackingTask.task.name,
                time: trackingTask.task.info.totalTime,
                startTime: trackingTask.time,
                taskId: trackingTask.task.id,
            }
            let seconds = moment.duration(this.currentTask.time).asSeconds()
            
            if(!trackingOnBe) {
                await axios.post(`/tasks/${trackingTask.task.id}/startTracking/`, {time: moment().format('hh:mm:ss')})
            }else{
                const currentTime = moment(moment(new Date()).format('hh:mm:ss'), 'hh:mm:ss')
                const startTime = moment(this.currentTask.startTime, 'hh:mm:ss')

                seconds += Math.abs(currentTime.diff(startTime, 'seconds'))
            }

            // display task as tracking
            this.currentTask.active = true
            this.trackingInterval = setInterval(() => {
                seconds++
                this.currentTask.time =  moment.utc(seconds*1000).format('HH:mm:ss');
                this.currentTask.calculatedTime = true
            }, 1000)
        },
        async stopTracking(){
            if(!this.currentTask.active) return
            
            const task = this.tasks.filter(task => task.id == this.currentTask.taskId)[0]

            task.info.totalTime = this.currentTask.time

            await axios.post(`/tasks/${this.currentTask.taskId}/stopTracking/`)
            await axios.put(`/tasks/${this.currentTask.taskId}`, task)

            clearInterval(this.trackingInterval)

            this.currentTask = {
                taskId: '',
                time: '00:00:00',
                startTime: '',
                name: '',
                active: false,
            }
        },

        async loadTasks(){
            const {config: {fakeData: data}} = await axios.get('/tasks')
            this.tasks = data
        },
        async loadProjects(){
            const {config: {fakeData: data}} = await axios.get('/projects')
            this.projects = data
        },
        async toggleCompleteStatus(taskId){
            const task = this.tasks.filter(task => task.id == taskId)[0]
            task.isCompleted = !task.isCompleted 

            await axios.put(`/tasks/${taskId}`, task)
            this.loadTasks()
        },
        projectName(projectID){
            const name = this.projects.filter(project => project.id == projectID)[0]
            return name?.name
        },
        async presentActionSheet(event, taskId) {
            //Prevent ion-item click event from fireing
            event.preventDefault();
            event.stopPropagation();
            event.stopImmediatePropagation();

            const actionSheet = await actionSheetController
                .create({
                header: 'Options',
                buttons: [
                    {
                        text: this.tasks.filter(task => task.id == taskId)[0].isCompleted ? 'Remove task from completed' : 'Complete task',
                        handler: () => {
                            this.toggleCompleteStatus(taskId)
                        },
                    },
                    {
                        text: 'Edit task',
                        handler: () => {
                            this.openTaskModal('Edit', taskId)
                        },
                    },
                    // {
                    //     text: 'Delete task',
                    //     handler: () => {
                    //         console.log('Delete clicked')
                    //     },
                    // },
                    {
                        text: 'Cancel',
                        role: 'destructive',
                    },
                ],
                });
            return actionSheet.present();
        },
        async openTaskModal(action, taskId = null){
            const modal = await modalController
                .create({
                    component: ATaskModal,
                    componentProps: {
                        action: action,
                        taskId: taskId
                    },
                })
            await modal.present();
            await modal.onDidDismiss()
            await this.loadTasks()
            await this.loadProjects()
        },

        async openProjectModal(action){
            const modal = await modalController
                .create({
                    component: AProjectModal,
                    componentProps: {
                        action: action
                    },
                })
            return modal.present();
        },
        //Helpers
        setItemRef(el) {
            if (el) {
                this.itemRefs?.push(el)
            }
        }

    },
    computed: {
        nonTrackingTasks(){
            return this.tasks.filter(task => task.id != this.currentTask.taskId)
        }
    },
    watch:{
        '$route' () {
            this.loadProjects()
        }
    }
}
</script>

<style scoped>
.add-button{
    position: absolute;
    bottom: -30px;
} 
.active-task-wrapper{
    height: 70px;
}
.options-icon{
    padding: 5px;
}
.fab-option-button{
    width: 57px;
    height: 57px;
    font-weight: bold;
}
.completed-task{
    pointer-events: none;
    opacity: 0.5;
}
.completed-icon{
    font-size: 20px;
}
.tracking-info{
    margin-top: 10px;
}
</style>